* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fafafa;
}

body {
  background: #202020;
}

a {
  text-decoration: none;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}