@import "@/styles/variables.scss";

.task {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 20px 20px;
  margin-top: 20px;
  background: #272727;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 730px) {
    display: none;
  }

  @media (min-width: 1800px) {
    width: 100%;
  }

  div {
    display: flex;
    align-items: center;

    .first_svg {
      &:first-child {
        @media (min-width: 1800px) {
          width: 50px;
          height: 50px;
        }
      }
    }

    h4 {
      font-weight: 500;

      @media (min-width: 1800px) {
        font-size: calc($index * .8);
      }
    }

    .desc {
      display: flex;
      align-items: center;
      margin-left: 15px;

      p {
        font-size: calc($index * .7);
        color: #AAA;
        margin-left: 5px;
      }

      svg {
        @media (min-width: 1800px) {
          width: 20px;
          height: 20px;
        }
      }

      @media (min-width: 1800px) {
        display: none;
      }
    }

    h3 {
      span {
        color: #3AAFA9;
      }
    }

    button {
      margin-left: 20px;
      padding: 10px 30px;
      border-radius: 23px;
      background: #3AAFA9;
      border: 0;
      transition: all .4s ease;

      @media (min-width: 1800px) {
        padding: 15px 70px;
        font-size: calc($index * .7);
      }

      &:hover {
        background: #349b96;
        transform: scale(1.05);
        transition: all .4s ease;
      }
    }

    &:first-child {
      h4 {
        margin-left: 10px;
      }
    }
  }
}