.avatar_change {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 20px 20px;
  background: #272727;
  top: 45vh;
  left: 40vw;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);

  @media(max-width: 700px) {
    left: 20vw;
  }

  @media(max-width: 520px) {
    left: 5vw;
  }

  @media(max-width: 430px) {
    left: 1vw;
  }

  .close {
    float: right;
  }

  h2 {
    margin-top: 5vh;
  }

  p {
    margin-top: 5px;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .button {
      button {
        padding: 10px 25px;
        border-radius: 23px;
        border: 0;
      }

      &:first-child {
        margin-right: 10px;

        button {
          background: #3AAFA9;
          border: 2px solid #3AAFA9;
        }
      }

      &:last-child {
        button {
          background: transparent;
          border: 2px solid #DD2727;
        }
      }
    }
  }
}