.change_username {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 20px 20px;
  background: #272727;
  top: 50vh;
  left: 40vw;
  z-index: 10;
  border-radius: 10px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);

  @media(max-width: 700px) {
    left: 20vw;
  }

  @media(max-width: 520px) {
    left: 5vw;
  }

  @media(max-width: 430px) {
    left: 1vw;
  }

  .close {
    float: right;
  }

  h2 {
    margin-top: 2vh;
  }

  p {
    margin-top: 5px;
  }

  .input {
    margin-top: 20px;

    input {
      width: 100%;
      padding: 10px 5px;
      border-radius: 10px;
      background: #202020;
      border: 1px solid #595959;
    }
  }

  .button {
    float: right;
    margin-top: 20px;

    button {
      padding: 10px 25px;
      border-radius: 23px;
      border: 0;
      background: #3AAFA9;
    }
  }
}