@import "@/styles/variables.scss";

.post {
  width: 100%;
  height: fit-content;
  background: #272727;
  padding: 20px 20px;
  border-radius: 10px;
  margin-top: 20px;

  @media (min-width: 1800px) {
    padding: 40px 40px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user {
      display: flex;
      align-items: center;

      .avatar {
        img {
          width: calc($index * 2);
          height: auto;
        }
      }

      h4 {
        font-weight: 500;
        margin-left: 10px;

        @media (min-width: 1800px) {
          font-size: calc($index);
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .date {
        @media (max-width: 600px) {
          display: none;
        }

        p {
          @media (min-width: 1800px) {
            font-size: calc($index * .8);
          }
        }
      }

      .menu {
        display: flex;
        align-items: center;

        svg {
          width: calc($index * 1.5);
        }
      }
    }
  }

  .image {
    margin-top: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .bottom {
    margin-top: 20px;

    .row {
      display: flex;
      justify-content: space-between;

      .col {
        h4 {
          font-weight: 500;

          @media (min-width: 1800px) {
            font-size: calc($index);
          }
        }

        .tags {
          display: flex;
          margin-top: 10px;

          .tag {
            display: flex;
            align-items: center;

            p {
              margin-left: 10px;

              @media (max-width: 600px) {
                font-size: calc($index * 1);
              }

              @media (min-width: 1800px) {
                font-size: calc($index * .8);
              }
            }

            svg {
              @media (min-width: 1800px) {
                width: 20px;
                height: 20px;
              }
            }

            &:not(:first-child) {
              margin-left: 15px;
            }
          }
        }

        &:last-child {
          display: flex;
          align-items: center;

          svg {
            width: calc($index * 1.4);

            &:not(:last-child) {
              margin-right: 10px;
            }

            @media (max-width: 600px) {
              width: calc($index * 2);
            }
          }
        }
      }
    }
  }
}